* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Arimo', sans-serif;
}

body {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 95% 1fr;
    grid-template-rows: 50px 100px 296px 260px 1fr 1fr 40px;
    grid-gap: 2px;
    grid-template-areas: ". skip ." ". company ." ". nav ." ". placeholder ." ". main ." ". sub ." ". footer ."
}

.hidden-on-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccdada;
    background-color: #ceffff;
    grid-area: skip;
}

.hidden-on-desktop a {
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

h1 {
    display: flex;
    flex-direction: column;
    grid-area: company;
    margin: auto;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    font-size: 60px;
}

nav {
    grid-area: nav;
}

li {
    margin: 20px 0;
    padding: 15px;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

li a {
    width: auto;
    height: auto;
}

.header-img {
    grid-area: placeholder;
}

.header-img img {
    margin-top: 3px;
}

.main {
    grid-area: main;
    margin: auto;
    padding: 20px 0;
}

.main h2, .sub-section h2 {
    margin: 10px 0;
}

.main p, .sub-section p {
    font-weight: lighter;
}

.sub-section {
    grid-area: sub;
    font-style: italic;
    padding: 20px 0;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* ... */
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    body {
        padding: 0;
        margin: 0 auto;
        grid-template-columns: 2% 63% 33% 2%;
        grid-template-rows: 80px 1fr 1fr 150px;
        grid-gap: 2px;
        grid-template-areas: ". company nav ." ". placeholder placeholder ." ". main sub ." ". footer footer ."
    }

    h1 {
        display: inline;
        padding: 0;
        margin: auto 0 0 0;
    }

nav {
    display: inline;
}

li:nth-child(1) {
    margin-left: 110px;
}

    li:nth-child(4) {
        padding-right: 0;
    }

.nav-links {
    margin-top: 50px;
    margin-left: auto;
}

    li {
        margin: 0;
        background-color: transparent;
        display: inline;
    }

    li a {
        margin: 0;
    }

    .header-img img{
        width: 1229px;
        height: 532px;
        margin: 50px 0;
    }

    .hidden-on-desktop {
        display: none;
        height: 0;
        width: 0;
    }







    .main {
        grid-area: main;
        margin:0;
        padding:0;
    }

    .main h2, .sub-section h2 {
        margin: 0 0 60px 0;
    }

    .main p, .sub-section p {
        font-weight: lighter;
    }

    .sub-section {
        grid-area: sub;
        font-style: italic;
        padding:0;
    }

    footer {
        grid-area: footer;
        display: inline;
    }



}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* ... */
}